@media (min-width:900px)
    {
        .container{width:800px; align-content:center;}
    }

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.error {
  color: red;
  display: none;
}

.results-container {
    margin-top: 50px;
}